/*
.invisible {
	visibility: hidden;
}

.searchTypeForm {
	margin-bottom: 20px;
}

.player {
	text-align: center;
}
*/
#searchResults li {
	cursor: pointer;
}
#searchResults li.thumb.big > img {
	min-width: 126px;
	/*width: auto;*/
	height: auto;
}